<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>My Spring Boot App</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
<header>
    <img th:class="cover" th:src="@{img/img.png}" alt="Logo image">
</header>
<section>
    <h2>Apprendre Spring Boot 3 avec des projets réels</h2>
    <a href="https://spring.io/projects/spring-boot#learn" target="_blank">détails</a>
    <img th:class="cover" th:src="@{/img/img.jpg}" alt="Spring Boot">
</section>

<h2>Apprendre Spring Boot 3 avec des projets réels</h2>
<h3>Ce que vous allez apprendre</h3>
<div th:if="${showDetails}">
    <div th:replace="~{fragments/details.html :: content('en')}"></div>
</div>


<a href="https://spring.io/projects/spring-boot#learn" target="_blank">détails</a>
<p th:class="light-text">ISET TOZEUR</p>

<footer>

</footer>
</body>
</html>
